# FONCTIONS

def motAuHasard (tableauMots):
    i = random.randint(0,9)
    motATrouver = tableauMots[i]
    return motATrouver

print(motAuHasard(tableauMots))
input()

def chercheDansMot(mot, lettreCherchee):
    for i in range(len(mot)):
        if lettreCherchee == mot[i]:
            position = i+1
    return position

#MAIN PROGRAMME
#def 1
import random
tableauMots = ["puzzle", "action", "nymphe", "wapiti", "alcool", "aqueux", "bambou", "cactus", "chacal", "exquis"]
#def2
mot = input("choisissez un mot : ")
lettreCherchee = input("choisissez une lettre à rechercher : ")

