# FONCTIONS

def motAuHasard (tableauMots):
    i = random.randint(0,9)
    motATrouver = tableauMots[i]
    return motATrouver


def chercheDansMot(mot, lettreCherchee):
    for i in range(len(mot)):
        if lettreCherchee == mot[i]:
            position = i+1
    return position


def nombreFoisDansMot(mot, lettreCherchee):
    apparition = 0
    for i in range(len(mot)):
        if lettreCherchee == mot[i]:
            apparition = apparition+1
    return apparition


def devineMot():
    guess = "guess"
    while len(guess) != 6:
        guess = input("Proposez un mot de 6 lettres : ")
        if len(guess) > 6:
            print("Votre mot fait plus de 6 lettres.")
        if len(guess) < 6:
            print("Votre mot fait moins de 6 lettres.")
    return guess

#MAIN PROGRAMME
#def 1
import random
tableauMots = ["puzzle", "action", "nymphe", "wapiti", "alcool", "aqueux", "bambou", "cactus", "chacal", "exquis"]
#def 2
mot = input("choisissez un mot : ")
lettreCherchee = input("choisissez une lettre à rechercher : ")
#def 3
mot = input("choisissez un mot : ")
lettreCherchee = input("choisissez une lettre à rechercher : ")